<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          KEYWORDS                                    -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension point="org.eclipse.ui.keywords">
     <keyword
   		id="basheditor.preferences.keyword.bash"
   		label="bash">
     </keyword>
     <keyword
        id="basheditor.preferences.keyword.space"
        label="space">
     </keyword>
     <keyword
        id="basheditor.preferences.keyword.tab"
        label="tab">
     </keyword>
      <keyword
   		id="basheditor.preferences.keyword.color"
   		label="color">
     </keyword>
     <keyword
   		id="basheditor.preferences.keyword.editor"
   		label="editor">
     </keyword>
     <keyword
   		id="basheditor.preferences.keyword.validation"
   		label="validation">
     </keyword>
     <keyword
   		id="basheditor.preferences.keyword.saveaction"
   		label="save action">
     </keyword>
     <keyword
   		id="basheditor.preferences.keyword.debug"
   		label="debug">
     </keyword>
     <keyword
   		id="basheditor.preferences.keyword.launch"
   		label="launch">
     </keyword>
     <keyword
   		id="basheditor.preferences.keyword.debugger"
   		label="debugger">
     </keyword>
     <keyword
   		id="basheditor.preferences.keyword.tasks"
   		label="tasks">
     </keyword>
      <keyword
        id="basheditor.preferences.keyword.templates"
        label="templates">
     </keyword>
      <keyword
        id="basheditor.preferences.keyword.todos"
        label="todos">
     </keyword>
   </extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          EDITOR                                      -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
      		name="Bash Editor"
            extensions="sh"
            icon="icons/bash-editor.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="de.jcup.basheditor.BashEditor"
            id="basheditor.editors.BashEditor">
      </editor>
   </extension>
            
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          PROPERTY TESTERS                            -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension point="org.eclipse.core.expressions.propertyTesters">
  	  <!-- see https://wiki.eclipse.org/Platform_Expression_Framework -->
  	  <!-- see http://help.eclipse.org/neon/index.jsp?topic=/org.eclipse.platform.doc.isv/guide/workbench_cmd_expressions.htm -->
  	  <!-- see http://www.robertwloch.net/2011/01/eclipse-tips-tricks-property-testers-with-command-core-expressions/ -->
      <propertyTester
          class="de.jcup.basheditor.BashFileWithoutExtensionPropertyTester"
          id="de.jcup.basheditor.BashFileWithoutExtensionPropertyTester"
          namespace="de.jcup.basheditor"
          properties="isBashFileWithoutExtension"
          type="org.eclipse.core.resources.IResource">
      </propertyTester>
   </extension>
   
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--        POPUP                                                         -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   
    <extension point="org.eclipse.ui.menus">
        <!-- http://help.eclipse.org/neon/index.jsp?topic=%2Forg.eclipse.platform.doc.isv%2Fguide%2Fworkbench_cmd_menus.htm -->
        <menuContribution locationURI="popup:org.eclipse.ui.popup.any?before=additions">
                <!-- Detect new root project --> 
                <command
            	  commandId="basheditor.command.openWithBashEditor"
                  icon="icons/bash-editor.png"
                  id="basheditor.maintoolbar.openWithBashEditor"
                  label="Open with Bash Editor"
                  tooltip="Opens bash file with Bash Editor."
                  style="push">
                        <visibleWhen 
                              checkEnabled="false">
                              <with
                                    variable="activeMenuSelection">
                                    <and>
				         				<count value="1"/>
	                                    <iterate ifEmpty="false">
	                                    	 <adapt type="org.eclipse.core.resources.IFile">
			         							<test property="de.jcup.basheditor.isBashFileWithoutExtension" value="true"/>
				         					</adapt>
				         				</iterate>
                                    </and>
                              </with>
                        </visibleWhen>
                </command>
                
        </menuContribution>
   </extension>
   
    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          MARKER                          			 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ --> 
   <extension 
   		id="de.jcup.basheditor.script.problem"
    	point="org.eclipse.core.resources.markers"
    	name="Basheditor script problem">
        <super type="org.eclipse.core.resources.problemmarker"/>
        <super type="org.eclipse.core.resources.textmarker"/>
        <persistent value="false"/>
    </extension>
   
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          CONTEXT                                     -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension point="org.eclipse.ui.contexts">
	  <context
	        name="Bash context"
	        description="Editing bash files"
	        parentId="org.eclipse.ui.textEditorScope"
	        id="basheditor.editors.BashEditor.context">
	        
	  </context>
   </extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          COMMANDS                                    -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->^
   
   <extension point="org.eclipse.ui.commands">
       <category
            description="Bash editor"
            id="basheditor.commands.category"
            name="Bash editor">
       </category>
      
       <command
      		name="Open with bash editor"
      		description="Open file with bash editor"
      		categoryId="basheditor.commands.category"
      		id="basheditor.command.openWithBashEditor">
       </command>
   	   <command
            name="Quick outline"
            description="Show quick outline dialog"
            categoryId="basheditor.commands.category"
            id="basheditor.editor.commands.quickoutline">
      </command>
      <command
            name="Toggle comment"
            description="Toggle comment in selected line(s)"
            categoryId="basheditor.commands.category"
            id="basheditor.editor.commands.source.toggleComment">
      </command>
       <command
            name="Validate bash script"
            description="Validate bash script"
            categoryId="basheditor.commands.category"
            id="basheditor.editor.commands.source.validate">
      </command>
      <command
            name="Goto matching bracket"
            description="Goto matching bracket inside gradle document"
            categoryId="basheditor.commands.category"
            id="basheditor.editor.commands.gotomatchingbracket">
      </command>
	</extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          HANDLERS                                    -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->^
	
	<extension point="org.eclipse.ui.handlers">
	 <handler
            commandId="basheditor.editor.commands.quickoutline"
            class="de.jcup.basheditor.handlers.OpenQuickOutlineHandler">
      </handler>
      <handler
            commandId="basheditor.editor.commands.source.toggleComment"
            class="de.jcup.basheditor.handlers.ToggleCommentHandler">
      </handler>
      <handler
            commandId="basheditor.editor.commands.source.validate"
            class="de.jcup.basheditor.handlers.ValidateHandler">
      </handler>
      <handler
            commandId="basheditor.editor.commands.gotomatchingbracket"
            class="de.jcup.basheditor.handlers.GotoMatchingBracketHandler">
      </handler>
      <handler
            commandId="basheditor.command.openWithBashEditor"
            class="de.jcup.basheditor.handlers.OpenWithBashEditor">
      </handler>
    </extension> 
    
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          KEY BINDING                                 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension point="org.eclipse.ui.bindings">
   		<key
            sequence="M1+O"
            contextId="basheditor.editors.BashEditor.context"
            commandId="basheditor.editor.commands.quickoutline"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">	  
		</key>
		<key
            sequence="M1+7"
            contextId="basheditor.editors.BashEditor.context"
            commandId="basheditor.editor.commands.source.toggleComment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">	  
		</key>
		<key
            sequence="M1+M2+P"
            contextId="basheditor.editors.BashEditor.context"
            commandId="basheditor.editor.commands.gotomatchingbracket"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">	  
		</key>
		<key
            sequence="F5"
            contextId="basheditor.editors.BashEditor.context"
            commandId="org.eclipse.debug.ui.commands.StepInto"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
        <key
            sequence="F6"
            contextId="basheditor.editors.BashEditor.context"
            commandId="org.eclipse.debug.ui.commands.StepOver"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
        <key
            sequence="F7"
            contextId="de.jcup.basheditor.debug.bash.debugging"
            commandId="org.eclipse.debug.ui.commands.StepReturn"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
    </extension> 
    
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          MENU                                 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <extension point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:basheditor.editors.BashEditor.context?after=additions">
         <command commandId="basheditor.editor.commands.source.validate" icon="icons/bash-editor.png" />
         <command commandId="basheditor.editor.commands.quickoutline" />
      </menuContribution>
      
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=edit">
            
         <menu
               id="basheditor.editor.menu.sourceMenu"
               label="Source"
               mnemonic="S"
               >
               <visibleWhen checkEnabled="true">
                     <with variable="activeEditor">
                     	<instanceof
                            value="de.jcup.basheditor.BashEditor"/>
                     </with>
               </visibleWhen>
            <command commandId="basheditor.editor.commands.source.toggleComment" />
            <command 
            	commandId="basheditor.editor.commands.source.validate" 
            	icon="icons/bash-editor.png">
            </command>
         </menu>
      </menuContribution>
      
      </extension> 
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          PREFERENCES                                 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
      point = "org.eclipse.ui.preferencePages">
      <page
         id="basheditor.eclipse.preferences.BashEditorEditorPreferencePage"
         class="de.jcup.basheditor.preferences.BashEditorPreferencePage"
         name="Bash Editor"
         >
         <keywordReference
               id="basheditor.preferences.keyword.bash">
         </keywordReference>
         <keywordReference
               id="basheditor.preferences.keyword.editor">
         </keywordReference>
         <keywordReference
               id="basheditor.preferences.keyword.space">
         </keywordReference>
         <keywordReference
               id="basheditor.preferences.keyword.tab">
         </keywordReference>
         
      </page>
      <page
         id="basheditor.eclipse.preferences.BashEditorEditorSyntaxColorPreferencePage"
         class="de.jcup.basheditor.preferences.BashEditorSyntaxColorPreferencePage"
         name="Syntax coloring"
         category="basheditor.eclipse.preferences.BashEditorEditorPreferencePage">
         <keywordReference
               id="basheditor.preferences.keyword.bash">
         </keywordReference>
          <keywordReference
               id="basheditor.preferences.keyword.color">
         </keywordReference>
      </page>
      <page
         id="basheditor.eclipse.preferences.BashEditorValidationPreferencePage"
         class="de.jcup.basheditor.preferences.BashEditorValidationPreferencePage"
         name="Validation"
         category="basheditor.eclipse.preferences.BashEditorEditorPreferencePage">
          <keywordReference
               id="basheditor.preferences.keyword.bash">
         </keywordReference>
         <keywordReference
               id="basheditor.preferences.keyword.validation">
         </keywordReference>
      </page>
      
      <page
         id="basheditor.eclipse.preferences.BashEditorSaveActionsPreferencePage"
         class="de.jcup.basheditor.preferences.BashEditorSaveActionsPreferencePage"
         name="Save Actions"
         category="basheditor.eclipse.preferences.BashEditorEditorPreferencePage">
         <keywordReference
               id="basheditor.preferences.keyword.bash">
         </keywordReference>
         <keywordReference
               id="basheditor.preferences.keyword.saveaction">
         </keywordReference>
      </page>
      
      <page
         id="basheditor.eclipse.preferences.BashEditorLaunchPreferencePage"
         class="de.jcup.basheditor.preferences.BashEditorLaunchPreferencePage"
         name="Launch"
         category="basheditor.eclipse.preferences.BashEditorEditorPreferencePage">
          <keywordReference
               id="basheditor.preferences.keyword.debug">
         </keywordReference>
          <keywordReference
               id="basheditor.preferences.keyword.launch">
         </keywordReference>
         <keywordReference
               id="basheditor.preferences.keyword.debugger">
         </keywordReference>
         <keywordReference
               id="basheditor.preferences.keyword.bash">
         </keywordReference>
      </page>
      
       <page
         id="de.jcup.basheditor.preferences.BashTaskTagsPreferencePage"
         class="de.jcup.basheditor.preferences.BashTaskTagsPreferencePage"
         name="Task Tags"
         category="basheditor.eclipse.preferences.BashEditorEditorPreferencePage">
         <keywordReference
               id="basheditor.preferences.keyword.todos">
         </keywordReference>
         <keywordReference
               id="basheditor.preferences.keyword.bash">
         </keywordReference>
         <keywordReference
               id="basheditor.preferences.keyword.tasks">
         </keywordReference>
         
      </page>
      <page
         id="de.jcup.basheditor.preferences.BashTemplatePreferencePage"
         class="de.jcup.basheditor.preferences.BashEditorTemplatePreferencePage"
         name="Templates"
         category="basheditor.eclipse.preferences.BashEditorEditorPreferencePage">
         <keywordReference
               id="basheditor.preferences.keyword.bash">
         </keywordReference>
         <keywordReference
               id="basheditor.preferences.keyword.templates">
         </keywordReference>
      </page>
    </extension>
    
    <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.jcup.basheditor.preferences.BashEditorPreferenceInitializer">
      </initializer>
      <initializer
            class="de.jcup.basheditor.preferences.BashTaskTagsPreferenceInitializer">
      </initializer>
   </extension>
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          MARKER                          			 -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ --> 
   <extension 
   		id="de.jcup.basheditor.parse.error"
    	point="org.eclipse.core.resources.markers"
    	name="Bash editor parse error">
        <super type="org.eclipse.core.resources.problemmarker"/>
        <super type="org.eclipse.core.resources.textmarker"/>
        <persistent value="true"/>
    </extension>
    
     <extension 
   		id="de.jcup.basheditor.script.task"
    	point="org.eclipse.core.resources.markers"
    	name="Bash editor task">
        <super type="org.eclipse.core.resources.taskmarker"/>
        <super type="org.eclipse.core.resources.textmarker"/>
        <persistent value="true"/>
    </extension>
    
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          HELP                                         -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="EditorToc.xml"
            primary="true">
      </toc>
   </extension>
   
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          TEMPLATE                                    -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            name="Bash Editor"
            class="de.jcup.basheditor.templates.BashEditorTemplateContextType"
            id="de.jcup.basheditor.template.context">
      </contextType>
      <template
            name="TODO"
            icon="icons/templates/task.png"
            description="TODO marker for current user and date"
            contextTypeId="de.jcup.basheditor.template.context"
            id="basheditor.templates.default.todo">
         <pattern># TODO ${user}, ${currentDate:date('yyyy-MM-dd')}:${cursor}</pattern>
      </template>
      
      <template
            name="FIXME"
            icon="icons/templates/task.png"
            description="FIXME marker for current user and date"
            contextTypeId="de.jcup.basheditor.template.context"
            id="basheditor.templates.default.fixme">
         <pattern># FIXME ${user}, ${currentDate:date('yyyy-MM-dd')}:${cursor}</pattern>
      </template>
      <template
            name="PARSE-ARGUMENTS"
            icon="icons/bash-editor.png"
            description="parse arguments - full working example template"
            contextTypeId="de.jcup.basheditor.template.context"
            id="basheditor.templates.default.parsearguments">
         <pattern> # Parse command line arguments - origin code from https://stackoverflow.com/a/14203146 - please look there for details
# Usage: Usage demo-space-separated.sh -e conf -s /etc -l /usr/lib /etc/hosts
POSITIONAL=()
while [[ $$# -gt 0 ]]
do
key="$$1"

case $$key in
    -e|--extension)
    EXTENSION="$$2"
    shift # past argument
    shift # past value
    ;;
    -s|--searchpath)
    SEARCHPATH="$$2"
    shift # past argument
    shift # past value
    ;;
    -l|--lib)
    LIBPATH="$$2"
    shift # past argument
    shift # past value
    ;;
    --default)
    DEFAULT=YES
    shift # past argument
    ;;
    *)    # unknown option
    POSITIONAL+=("$$1") # save it in an array for later
    shift # past argument
    ;;
esac
done
set -- "$${POSITIONAL[@]}" # restore positional parameters

echo "FILE EXTENSION  = $${EXTENSION}"
echo "SEARCH PATH     = $${SEARCHPATH}"
echo "LIBRARY PATH    = $${LIBPATH}"
echo "DEFAULT         = $${DEFAULT}"
echo "Number files in SEARCH PATH with EXTENSION:" $$(ls -1 "$${SEARCHPATH}"/*."$${EXTENSION}" | wc -l)
if [[ -n $$1 ]]; then
    echo "Last line of file specified as non-opt/last argument:"
    tail -1 "$$1"
fi
         </pattern>
      </template>
      <template
            name="IF-ELIF-ELSE"
            icon="icons/bash-editor.png"
            description="if, elseif else template"
            contextTypeId="de.jcup.basheditor.template.context"
            id="basheditor.templates.default.ifelifelse">
         <pattern>if [[ "$$${variableName}" = "${state1}" ]]; then
	echo "${state1}"
elif [[ "$$${variableName}" = "${state2}" ]]; then
	echo "${state2}"
else
  	echo "other state"
fi</pattern>
      </template>
</extension>
   
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          Debugging                                   -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   
    <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            sourceLocatorId="de.jcup.basheditor.debug.sourceLookupDirector.sh"
            name="Bash script"
            sourcePathComputerId="de.jcup.basheditor.debug.sourcePathComputer.sh"
            delegate="de.jcup.basheditor.debug.launch.BashDebugLaunchConfigurationDelegate"
            modes="debug,run"
            id="de.jcup.basheditor.debug.launchConfigurationType">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            name="Bash Source Lookup Director"
            class="de.jcup.basheditor.debug.launch.BashSourceLookupDirector"
            id="de.jcup.basheditor.debug.sourceLookupDirector.sh">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="de.jcup.basheditor.debug.launch.BashSourcePathComputerDelegate"
            id="de.jcup.basheditor.debug.sourcePathComputer.sh">
      </sourcePathComputer>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            markerType="basheditor.debug.breakpoint.marker"
            class="de.jcup.basheditor.debug.BashLineBreakpoint"
            id="basheditor.debug.lineBreakpoint">
      </breakpoint>
   </extension>
   <extension
         id="basheditor.debug.lineBreakpoint.marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="de.jcup.basheditor.debug.launchConfigurationType"
            description="Debug a Bash script"
            class="de.jcup.basheditor.debug.launch.config.BashLaunchConfigurationTabGroup"
            id="de.jcup.basheditor.debug.launchConfigurationTabGroup.sh">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="de.jcup.basheditor.debug.BashDebugModelLabelProvider"
            id="basheditor.debug.model">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            class="de.jcup.basheditor.debug.BashLineBreakpointAdapterFactory"
            adaptableType="de.jcup.basheditor.BashEditor">
				<adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget"/>
      </factory>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="basheditor.editors.BashEditor"
            id="basheditor.editors.BashEditor.rulerActions">
         <action
               label="no label"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               style="push"
               actionID="RulerDoubleClick"
               id="pda.doubleClickBreakpointAction"/>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            name="Debugging Bash"
            description="Debugging Bash"
            id="de.jcup.basheditor.debug.bash.debugging"
            parentId="org.eclipse.debug.ui.debugging">
      </context>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelContextBindings">
      <modelContextBinding
            debugModelId="basheditor.debug.model"
            contextId="de.jcup.basheditor.debug.bash.debugging">
      </modelContextBinding>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/bash-editor.png"
            configTypeID="de.jcup.basheditor.debug.launchConfigurationType"
            id="basheditor.debug.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <!--<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
        delegate="de.jcup.basheditor.debug.launch.BashDebugLaunchConfigurationDelegate"
        delegateDescription="Launches given bash script in debug mode"
        id="basheditor.debug.launchConfigurationType"
        modes="run"
        name="Bash Editor"
        public="true" >
       </launchConfigurationType>
	</extension>
	-->
   <extension
         point="org.eclipse.debug.core.watchExpressionDelegates">
      <watchExpressionDelegate
            debugModel="basheditor.debug.model"
            delegateClass="de.jcup.basheditor.debug.BashWatchExpressionDelegate">
      </watchExpressionDelegate>
   </extension>
   
    <!-- launch shortcuts for Debug, as ... -->
 	<extension point="org.eclipse.debug.ui.launchShortcuts">
    	<shortcut
        id="de.jcup.basheditor.debug.launchShortCut"
        class="de.jcup.basheditor.debug.launch.BashEditorDebugLaunchShortCut"
        label="Bash script"
        icon="icons/bash-editor.png"
        modes="debug,run">
            <contextualLaunch>
            
            <enablement>
	            <with variable="selection">
			        <count value="1"/>
			        <iterate ifEmpty="false">
			        <or>
				            <!-- we only allow files with name *.sh to be executed as bash scripts -->
				        	<adapt type="org.eclipse.core.resources.IFile">
				                	<test property="org.eclipse.core.resources.name"
				                         value="*.sh"/>
				            </adapt>
				        	<adapt type="org.eclipse.core.resources.IFile">
								<test property="de.jcup.basheditor.isBashFileWithoutExtension" value="true"/>
				            </adapt>
				     </or>
			        </iterate>
			    </with>
            </enablement>
        </contextualLaunch>
            
    	</shortcut>
	</extension>
<!-- The id is the same as the referenced "markerType" in the org.eclipse.debug.core.breakpoints
    extension point -->
<extension id="basheditor.debug.breakpoint.marker" point="org.eclipse.core.resources.markers">
    <!-- persist the marker, so that the referenced breakpoint will be recreated -->
    <persistent value="true" />
    <!-- Additional attributes for the marker can be defined, which are also
    <attribute name="CUSTOM_ADDITIONAL_ATTR_WHICH_IS_ALSO_PERSISTED" />
        persisted -->
    <!-- The org.eclipse.debug.core.breakpointMarker super type indicated that
        this marker is used for a breakpoint -->
    <super type="org.eclipse.debug.core.breakpointMarker" />
</extension>
   
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--                          CONSOLE                                     -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- http://stackoverflow.com/questions/29783017/add-custom-console-to-eclipse-console-list -->
<extension point="org.eclipse.ui.console.consoleFactories">
	   <consoleFactory
	         class="de.jcup.basheditor.debug.BashDebugConsoleFactory"
	         icon="icons/bash-editor.png"
	         label="Bash Debug Console">
	   </consoleFactory>
</extension>
</plugin>
